.App {
  background-color: #2E8EFF;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.signup {
  border: 1px solid yellowgreen;
  display: flex;
  justify-content: center;
  height: 8vh;
  width: 45vh;

}

.quote{
  display: flex;
}

.next{
  border:1px solid wheat;
  display: flex;
  justify-content: flex-end;
  
}

.back{
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  background-color: #19B188;
  text-decoration: none;
}

h2{
  color: white;
}

h3{
  font-size: 25px;
  border: 1px solid yellow;
  color: white;
  margin-top: 40vh;
  height: 30vh;
}
button {
  font-weight: 600;
  display: flex;
  justify-content: center;
  border: 2px solid blue;
  width: 40vh;
}

.choose-gender{
  color: white;
  border: 1px solid white;
  display: flex;
  justify-content: center;

}

.icons{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30vh;
  margin-bottom: 41vh;

}

.male-icon{
  background-color: white;
  border-radius: 35px;
  display: flex;
  height: 10vh;
}

.female-icon{
  background-color: white;
  border-radius: 35px;
  display: flex;
  height: 10vh;
}

/* .info{
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;

} */

.info form{
margin-top: 30vh;
/* background-color: tomato; */
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
}

.info input {
  width: 35vh;
  height:5vh ;
}

.men-icons{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
}

.page-icons{
  background-color: white;
  border-radius: 35px;
  display: flex;
  
  height: 10vh;
}
