*{
  background: #2E8EFF;
}
input{
  background: white;
}

.fruit{
  background: rgba(249, 248, 113);
}


h5{
  background: rgba(249, 248, 113);
}
.App {
  background-color: #2E8EFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  animation: moveDown 0.6s ease-in-out 0.2s backwards;
 
}

@keyframes moveDown{
  0% { 
    transform: translateY(-40px); 
    opacity: 0;
  }
  100% { 
    transform: translateY(0px);  
    opacity: 1;
  }}

.container{
  position: relative;
  width: 50%
}

.cover{
  height: 100vh;
  width: 100vw;

}
h1{
  background-color: #18bbde;
}

.title{
  
  font-family: 'Lato', sans-serif;
  color: Black;
  font-size: 25px;
  background-color: #18bbde;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login{
  text-shadow: 1px 1px gray;
  color: black;
  font-weight: 500;
  text-decoration: none;
  background-color: #F9F871;
  text-align: center;
  text-shadow: white;
  border-radius: 10px;
  padding: 10px 25px;
  position: absolute;
  width: 100%;
  top: 20%;
  left:40%;
}

/*QUOTE PAGE*/

h2{
  text-align: center;
  color: white;

}

h3{
  text-align: center;
  font-size: 25px;
  font-family: 'Yellowtail', cursive;
  color: white;
  margin-top: 40vh;
  height: 30vh;
  animation: moveDown 0.6s ease-in-out 0.2s backwards;
}


.quote-page, .info, .men-headline, .women-header{
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.gender-page {
 display: flex;
 flex-direction: column;
 margin-top: 50%;

}





.back-gender {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  background-color:#1BB288 ;
  margin-top: 68%;
}

.quote{
  padding:2%;
  
}


.next{
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  background-color:#1BB288 ;
  margin-top: 25%;
  
}

/*choose your icon*/

.choose-icon{
display: flex;
flex-direction: column;
/* border: 1px solid red */
/* margin: auto; */
}

.next-info-men {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  background-color:#1BB288 ;
  margin-top: 118%;
  
}
.next-info-women {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  background-color:#1BB288 ;
  margin-top: 118%;
}

.choose-gender{
  color: white;
  margin-top: -50%
}


.icons{
  display: flex;
  justify-content: space-evenly;
  animation: moveDown 0.6s ease-in-out 0.2s backwards;
  margin-top: 45%

}


.back{
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  background-color: #19B188;
  text-decoration: none;
  
}



 .field {
  width: 100%;
  height: 56px;
  border-radius: 4px;
  position: relative;
  transition: 0.3s all;
  animation: moveDown 0.6s ease-in-out 0.2s backwards;
}


.field input {
  -webkit-appearance: none;
  text-align: center;
  width: 100%;
  height: 56px;
  position: relative;
  padding: 4px 16px;
  border: none;
  border-radius: 4px;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #282828;
  outline: none;
  box-shadow: 0px 4px 20px 0px transparent;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out
 
  
}  


#name{
  border-bottom: 1px solid gray;
  
}

#age{
  border-bottom: 1px solid gray;
  
}



button {
  font-weight: 600;
  display: flex;
  justify-content: center;
  border: 2px solid blue;
  width: 40vh;
}

a{
  color:white;
  text-decoration: none;
  text-align: center;
  margin-top: ;
}



/*INFO PAGE*/


.info{
  display: flex;
  flex-direction: column;

}

.info-icon {

  display:flex;
  justify-content: center;
  
}


.male-icon{
  background-color:#9BDBF7;
  border-radius: 35px;
  height: 10vh;
  border: 1px solid white;
}

.female-icon{
  background-color:#9BDBF7;
  border-radius: 35px;
  height: 10vh;
  border: 1px solid white;
}

.info form{
margin-top: 30vh;
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
}

.info input {
  width: 35vh;
  height:5vh ;
}


.back-info{
  color: white;
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  padding:5% 5%;
  background-color:#1BB288;
}


/* workout page */

.nutri .fruit input{
 height: 25px;

}

.page-icons{
  background-color: #9BDBF7;
  border-radius: 35px;
  display: flex;
  height: 10vh;
  animation: moveDown 0.6s ease-in-out 0.2s backwards;
  margin: auto;
}


.men-icons{
  display: flex;
  flex-direction: column;
  animation: moveDown 0.6s ease-in-out 0.2s backwards;
}

.women-icons{
  display: flex;
  flex-direction: column;
  /* margin: 20% 0; */
  animation: moveDown 0.6s ease-in-out 0.2s backwards;
}

.row-1{
  display: flex;
  justify-content: space-around;
  margin: 10% 0;
  animation: moveDown 0.6s ease-in-out 0.2s backwards;

}


.row-2{
  display: flex;
  justify-content: space-around;
  margin: 10% 0%;
  animation: moveDown 0.6s ease-in-out 0.2s backwards;
}


.row-3{
  display: flex;
  justify-content: space-around;
  margin: 10 0%;
  animation: moveDown 0.6s ease-in-out 0.2s backwards;
}

.foot{
  margin-top: 20%;
  background-color:#1BB288;
  display: flex;
  justify-content: flex-start;
 
  
}


.nutri{
  display:flex;
  justify-content: space-between;
  background:#F9F871;
  padding-right:3%;
}

.nutrients{
  font-style:italic;
  font-size:1em;

}

.nutrients h5{
  margin:0;

}

@media (min-width: 740px) {
  .App {
    background-color: #2E8EFF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    animation: moveDown 0.6s ease-in-out 0.2s backwards;
   
  }

  .page-icons{
    background-color: #9BDBF7;
    border-radius: 35px;
    display: flex;
    height: 20vh;
    animation: moveDown 0.6s ease-in-out 0.2s backwards;
    margin: auto;
  }
  .male-icon, .female-icon{
    width:45%;
    height:85%;
    border-radius:50%;
  }

  .choose-gender{
    transform: translateY(100px);
  }

}